@page
@model CommunityApp.Pages.Cities.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>City</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="City.CityId" />
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="City.CityName" class="control-label"></label>
                <input asp-for="City.CityName" class="form-control" />
                <span asp-validation-for="City.CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="City.Population" class="control-label"></label>
                <input asp-for="City.Population" class="form-control" />
                <span asp-validation-for="City.Population" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="City.ProvinceCode" class="control-label"></label>
                <select asp-for="City.ProvinceCode" class="form-control" asp-items="ViewBag.ProvinceCode"></select>
                <span asp-validation-for="City.ProvinceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

