@page
@model CommunityApp.Pages.Provinces.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Province</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Province.ProvinceCode" class="control-label"></label>
                <input asp-for="Province.ProvinceCode" class="form-control" />
                <span asp-validation-for="Province.ProvinceCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Province.ProvinceName" class="control-label"></label>
                <input asp-for="Province.ProvinceName" class="form-control" />
                <span asp-validation-for="Province.ProvinceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

